:root {
    overflow-x: hidden;
}

.profile-page .sections {
    font-weight: 600;
    color: black;
}

.navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
    border: 0;
}

.menuButton img {
    width: 1.5rem;
    height: 1.5rem;
}

.profile-page .sections a {
    width: 100%;
    transition: .2s;
}

.profile-page .sections li {
    margin-left: .5rem;
}

.profile-page .sections a:hover {
    font-size: 1.02rem;
    color: #111111;
}

.card-body {
    padding: 3rem 1.25rem;
}

.col-md-6 {
    margin: .5rem 0;
}

.col-md-6 .progress-value,
.col-md-6 .progress-badge {
    font-size: 75%;
}

.col-md-6 .progress-value {
    float: right;
}

.cntnt {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 1rem;
    padding: 0;
    width: 90%;

}

#carouselExampleFade .carousel-inner img {
    width: 100%;
    height: 100vh;
}

#carouselExampleFade .carousel-inner {
    height: 80vh;
    border-radius: .4rem;
}
#porque,
#about,
#skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

#portfolio {
    width: 100vw;
    height: 100%;
    padding-top: 6rem;
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portfolio .list-group-item {
    margin-bottom: .5rem;
}

#portfolio .nav-item {
    list-style: none;

    padding: 0;
}

#portfolio .nav-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#portfolio .content span {
    display: flex;
}

#portfolio .content{
    width: 80vw;
}

#portfolio .content span img {
    margin: 0;
    width: 1rem;
    height: 1rem;
}

#portfolio .content span p {
    font-weight: bold;
    margin: 0;
    font-size: .6rem;
}

#portfolio .dropdown-menu {
    width:80vw;
    position: absolute;
    transform: translate3d(0px, 2rem, 0px);
}

#portfolio .dropdown-menu #useEffect {
    color: blue;
    text-decoration: underline;
}

#prices {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    padding-top: 6rem;

    background-color: #eeeeee;
}

#prices label {
    font-size: 1.3rem;
    font-weight: 600;
}

#prices #content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

#prices #content .three{
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}

.checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox label {
    position: relative;
    padding-left: 2.2em;
    display: inline-block;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    background: #FFF;
    margin-right: 0.5em;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.checkbox label::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
}

.checkbox label:focus::before,
.checkbox label:hover::before {
    background: #DDD;
}

.checkbox input:checked+label::before {
    background: skyblue;
    border-color: skyblue;
}

.checkbox input:checked+label::after {
    opacity: 1;
}

#prices #preco {
    display: flex;

    margin-top: 2rem;
    font-size: 2rem;
}

fieldset {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;

    width: 60%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#preco fieldset legend {
    width: unset;
    margin-left: -2rem;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

#preco fieldset p {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#preco h2 {
    display: flex;
    margin-bottom: 8px;
    line-height: 24px;
}

#about .contentAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .contentAbout .myPhoto img {
    width: 13rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}

#about .contentAbout .iAm {
    text-align: center;
}

#about .contentAbout .description {
    padding: 1rem 10rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0;
    background-color: black;
}

footer .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footerContent p {
    margin: 0;
    margin-top: .5rem;
    color: white;
    font-size: .7rem;
}

footer .footerContent .contacts {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footerContent a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: .7rem;
    transition: .2s;
}

.instagram,
.email,
.whatsapp {
    width: 100%;
    text-align: center;
}

footer .footerContent a:hover {
    text-decoration: underline;
    font-size: .72rem;
}

footer .footerContent .contacts img {
    width: .8rem;
    margin-right: .2rem;
}

@media(max-width: 850px) {

    #about .contentAbout .description {
        width: 100vw;
        padding: 1.5rem;
        text-align: justify;
    }

    footer {
        width: 100%;
        height: 100%;
    }

    footer .contacts {
        flex-direction: column;
    }
}

@media(max-width: 400px) {
    p,
    h1,
    a {
        font-size: 70%;
    }
}

@media(min-width: 850px) {
    #prices #content{
       display: flex;
       flex-direction: unset;
       justify-content: center;
       align-items: center;

    }

    #prices #content .three{
        width: 30%;

    }    

    fieldset {
        width: 100%;
    }
}